@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
  width: 7px;


  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  position: absolute;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
  accent-color: #A855F7;
  width: 15px;
}

hr{
  background-color: rgb(228, 228, 228);
  height: 4px;
  width: 20%;
  }
